# python_rag_worker/.dockerignore

# ローカルの仮想環境をコンテナに入れない
venv/
.venv/
env/

# Pythonのキャッシュファイル
.mypy_cache
.ruff_cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# テスト用のキャッシュやログ
.pytest_cache/
.coverage
htmlcov/
*.log

# エディタの隠しファイル
.git/
.gitignore
.vscode/
.idea/
